* {
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
}

header {
  height: 4rem;
}

.nav-container {
  background: linear-gradient(to right, #70e1f5, #ffd194);
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0;
}

.logo-img {
  height: 3rem;
}

.menu-left,
.menu-right {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}

.menu-left {
  gap: 0.5rem;
}

.menu-left span {
  font-size: 2rem;
  background: linear-gradient(to right, #1488cc, #2b32b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile-pic img {
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

.menu-container {
  position: relative;
}

.user-menu {
  position: absolute;
  top: 32px;
  right: 0;
  width: 175px;
  background-color: #ffeddf;
  border-radius: 13px;
  visibility: hidden;
  opacity: 0;
  transition: all .2s ease-in;
}

.user-menu-item {
  list-style: none;
  text-decoration: none;
  margin-bottom: 7px;
  padding: 0.5rem 0;
  transition: all 0.3s ease-in-out;
}

.user-menu-item:hover {
  transform: scale(1.2);
  box-shadow: inset 200px 0 0 0 #fcc2d7;
}

.user-menu-item:hover:first-child {
  border-start-start-radius: 13px;
  border-start-end-radius: 13px;
}

.user-menu-item:hover:last-child {
  border-end-start-radius: 13px;
  border-end-end-radius: 13px;
}

.user-menu-item:last-child {
  margin-bottom: 0;
}

.user-menu-link {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  color: #63e6be;
  cursor: pointer;
}

.icons {
  height: 1.5rem;
  margin-right: 1rem;
}

.active {
  visibility: visible;
  opacity: 1;
  transition: all .2s ease-in;
}

.social-icons {
  height: 1.5rem;
}

.hero-container, .profile-container {
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.icon-container img {
  height: 3rem;
  cursor: pointer;
}

.social-icon-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 15%;
  height: 35%;
  align-items: flex-start;
  justify-content: center;
}

.icon-img-container {
  display: flex;
  border: 2px solid;
  width: 100%;
  border-radius: 16px;
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.icon-img-container span {
  font-size: 1.2rem;
  font-weight: 600;
}

.google {
  border-color: #ea4335;
}

.fb {
  border-color: #3b5998 ;
}

.mail {
  border-color: #f08c00;
}

.google:hover {
  background-color: #ffa8a8;
  color: white;
}

.fb:hover {
  background-color: #91a7ff;
  color: white;
}

.mail:hover {
  background-color: #ffc078;
  color: white;
}

.googleImg:hover + .social-icon-container {
  display: flex;
}

.profile-data-container {
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
  width: 50%;
  display: flex;
  gap: 1rem;
  padding: 1.5rem;
}

.profile-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-img img {
  height: 24rem;
}

.profile-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  margin: 2rem 0;
}

.username-container {
  background-color: #bcb59d;
  /* height: 5rem;
  width: 9rem; */
  padding: 1.5rem;
  border-radius: 5px;
}

.username {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

/* .user-profile-name {

} */

.user-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user-data p {
  font-size: 1.2rem;
  font-weight: 600;
}

.login-method {
  display: flex;
  align-items: center;
  gap: 3px;
}

.login-method img {
  height: 1.5rem;
}

.user {
  font-size: 2rem;
  font-weight: 600;
}

.user span {
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    color: #7048e8;
  }
  20% {
    color: #3b5bdb;
  }
  50% {
    color: #1c7ed6;
  }
  75% {
    color: #f76707;
  }
  100% {
    color: #f59f00;
  }
}

.spinner-container {
  background-color: #137b85;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}